<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--  Linking style file  -->
    <link rel="stylesheet" href="/public/styles/style.css" />
    <title>Document</title>
</head>

<body class="bg-[#fafafd]">
    <div class="container mx-auto flex gap-5 py-5">
        <nav class="navigation__container bg-white h-fit rounded-25px py-30px px-10px">
            <div class="logo__container border-b-[1px] border-b-[#393939]/20 pb-30px pt-10px">
                <img src="/public/images/Logo.svg" alt="logo-img" class="logo__img w-14" />
            </div>
            <ul class="navigation__inner space-y-6 mt-5 flex flex-col items-center">
                <li class="navigation__list">
                    <a href="#dashboard" class="navigation__link rounded-15px flex flex-col items-center p-2 active">
                        <img src="/public/images/icon/menu/Dashboard.svg" alt="dashboard-img"
                            class="navigation__img w-6" />
                        <span class="navigation__text hidden">Dashboard</span>
                    </a>
                </li>
                <li class="navigation__list">
                    <a href="#dashboard" class="navigation__link rounded-15px flex flex-col items-center">
                        <img src="/public/images/icon/menu/Jineology.svg" alt="dashboard-img"
                            class="navigation__img w-6" />
                        <span class="navigation__text hidden">Jineology</span>
                    </a>
                </li>
                <li class="navigation__list">
                    <a href="#dashboard" class="navigation__link rounded-15px flex flex-col items-center">
                        <img src="/public/images/icon/menu/Tree_Diagram.svg" alt="dashboard-img"
                            class="navigation__img w-6" />
                        <span class="navigation__text hidden">Tree Diagram</span>
                    </a>
                </li>
                <li class="navigation__list">
                    <a href="#dashboard" class="navigation__link rounded-15px flex flex-col items-center">
                        <img src="/public/images/icon/menu/Deposite_Requests.svg" alt="dashboard-img"
                            class="navigation__img w-6" />
                        <span class="navigation__text hidden">Deposit Requests</span>
                    </a>
                </li>
                <li class="navigation__list">
                    <a href="#dashboard" class="navigation__link rounded-15px flex flex-col items-center">
                        <img src="/public/images/icon/menu/User_Management.svg" alt="dashboard-img"
                            class="navigation__img w-6" />
                        <span class="navigation__text hidden">User Management</span>
                    </a>
                </li>
                <li class="navigation__list">
                    <a href="#dashboard" class="navigation__link rounded-15px flex flex-col items-center">
                        <img src="/public/images/icon/menu/Withdraw_Request.svg" alt="dashboard-img"
                            class="navigation__img w-6" />
                        <span class="navigation__text hidden">Withdraw Requests/span>
                    </a>
                </li>
                <li class="navigation__list">
                    <a href="#dashboard" class="navigation__link rounded-15px flex flex-col items-center">
                        <img src="/public/images/icon/menu/Gallery_Management.svg" alt="dashboard-img"
                            class="navigation__img w-6" />
                        <span class="navigation__text hidden">Gallery Management</span>
                    </a>
                </li>
                <li class="navigation__list">
                    <a href="#dashboard" class="navigation__link rounded-15px flex flex-col items-center">
                        <img src="/public/images/icon/menu/Admin_Management.svg" alt="dashboard-img"
                            class="navigation__img w-6" />
                        <span class="navigation__text hidden">Admin Management</span>
                    </a>
                </li>
                <li class="navigation__list">
                    <a href="#dashboard" class="navigation__link rounded-15px flex flex-col items-center">
                        <img src="/public/images/icon/menu/Reports.svg" alt="dashboard-img"
                            class="navigation__img w-6" />
                        <span class="navigation__text hidden">Reports</span>
                    </a>
                </li>
                <li class="navigation__list">
                    <a href="#dashboard"
                        class="navigation__link rounded-15px link__logout flex flex-col items-center  mt-20">
                        <img src="/public/images/icon/menu/Logout.svg" alt="dashboard-img"
                            class="navigation__img w-6" />
                        <span class="navigation__text hidden">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="dashboard w-full flex flex-col gap-5">
            <div class="dashboard__header p-10px bg-white flex justify-end items-center rounded-25px">
                <button class="btn__settings bg-red-50 p-1 rounded-25px bg-[#716ACA]/[6%]">
                    <img src="/public/images/icon/dashboard/Settings.svg" alt="settings-img" class="w-5">
                </button>
                <div class="profile__badge ml-2 flex items-center">
                    <img src="/public/images/Profile.svg" alt="profile-img"
                        class="user__img w-14 rounded-25px border-navigation__active border">
                    <div class="profile-badge__text ml-2">
                        <p>Hesam Safari</p>
                        <span>Admin</span>
                    </div>
                    <a href="#arrow" class="ml-1 hover:bg-[#716ACA]/[6%] rounded-md">
                        <img src="/public/images/icon/dashboard/Arrow_Down.svg" alt="arrow-img" class="w-5 mb-auto">
                    </a>
                </div>
            </div>
            <div class="dashboard__body gap-5 flex flex-col">
                <section class="profile-showcase__container flex flex-col items-center bg-white rounded-25px py-5">
                    <div
                        class="profile-showcase__inner flex flex-col justify-center items-center space-y-3 pb-5 border-b-[1px] border-b-[#393939]/10 w-fit m-auto ">
                        <img src="/public/images/Profile.svg" alt="user-img"
                            class="user__img rounded-25px border-navigation__active border">
                        <h4 class="user__name">Hesam Safari</h4>
                        <p class="user__email">hesamsafari@gmail.com</p>
                        <div class="user__password flex">
                            <button class="password-toggler mr-1 hover:bg-[#716ACA]/[6%] rounded-md p-2">
                                <img src="/public/images/icon/dashboard/Eye.svg" alt="eye-img">
                            </button>
                            <div class="user__password-character flex items-center space-x-[2px]">
                                <img src="/public/images/icon/dashboard/PasswordCharecter.svg" alt="password">
                                <img src="/public/images/icon/dashboard/PasswordCharecter.svg" alt="password">
                                <img src="/public/images/icon/dashboard/PasswordCharecter.svg" alt="password">
                                <img src="/public/images/icon/dashboard/PasswordCharecter.svg" alt="password">
                                <img src="/public/images/icon/dashboard/PasswordCharecter.svg" alt="password">
                            </div>
                        </div>
                    </div>
                    <a href="#invite_link"
                        class="px-5 py-2 mt-6 text-white rounded-lg bg-invite-link drop-shadow">Invite
                        Link</a>
                </section>

                <div class="flex flex-col gap-5">
                    <div class="flex flex-col gap-5">
                        <section
                            class="total-payment__container bg-white rounded-25px flex flex-col items-center py-10px">
                            <img src="/public/images/icon/dashboard/Total_Leg_Payment.svg" alt="total-payment__img"
                                class="total-payment__img w-12">
                            <div class="total-payment__info text-center mt-2">
                                <p class="total-payment__title text-lg text-normal">Total Leg 1 Payment</p>
                                <span class="total-payment__subtitle text-[15px] text-invite-link">10,209,000 TRX</span>
                            </div>
                        </section>
                        <section
                            class="total-payment__container bg-white rounded-25px flex flex-col items-center py-10px">
                            <img src="/public/images/icon/dashboard/Total_Leg_Payment.svg" alt="total-payment__img"
                                class="total-payment__img w-12">
                            <div class="total-payment__info text-center mt-2">
                                <p class="total-payment__title text-lg text-normal">Total Leg 1 Payment</p>
                                <span class="total-payment__subtitle text-[15px] text-invite-link">10,209,000 TRX</span>
                            </div>
                        </section>
                    </div>
                    <div class="space-y-5 flex flex-wrap w-full">
                        <section
                            class="extra-information__container rounded-25px flex flex-col items-center w-full py-10px bg-white">
                            <img src="/public/images/icon/dashboard/Wallet.svg" alt="wallet-img"
                                class="extra-information__img w-10">
                            <h4 class="extra-information__title text-lg text-normal mt-2">Wallet</h4>
                            <p class="extra-information__subtitle my-1 text-sm text-normal font-light">
                                Total Referral Profit
                            </p>
                            <span class="extra-information__amount text-[15px] wallet">16,247 TRX</span>
                        </section>
                        <section
                            class="extra-information__container rounded-25px flex flex-col items-center w-full py-10px bg-white">
                            <img src="/public/images/icon/dashboard/Profit.svg" alt="wallet-img"
                                class="extra-information__img w-10">
                            <h4 class="extra-information__title text-lg text-normal mt-2">Profit</h4>
                            <p class="extra-information__subtitle my-1 text-sm text-normal font-light">
                                Last Day Profit
                            </p>
                            <span class="extra-information__amount text-[15px] profit">16,247 TRX</span>
                        </section>
                        <section
                            class="extra-information__container rounded-25px flex flex-col items-center w-full py-10px bg-white">
                            <img src="/public/images/icon/dashboard/Deposits.svg" alt="wallet-img"
                                class="extra-information__img w-10">
                            <h4 class="extra-information__title text-lg text-normal mt-2">Deposits</h4>
                            <p class="extra-information__subtitle my-1 text-sm text-normal font-light">
                                Total Deposit Amount
                            </p>
                            <span class="extra-information__amount text-[15px] deposit">16,247 TRX</span>
                        </section>
                        <section
                            class="extra-information__container rounded-25px flex flex-col items-center w-full py-10px bg-white">
                            <img src="/public/images/icon/dashboard/Withdrawals.svg" alt="wallet-img"
                                class="extra-information__img w-10">
                            <h4 class="extra-information__title text-lg text-normal mt-2">Withdrawals</h4>
                            <p class="extra-information__subtitle my-1 text-sm text-normal font-light">
                                Total Withdrawal Amount
                            </p>
                            <span class="extra-information__amount text-[15px] withdrawal">16,247 TRX</span>
                        </section>
                        <section class="extra-information__container"></section>
                        <section class="extra-information__container"></section>
                    </div>
                </div>
                <section class="statistics-tables flex flex-col gap-5">
                    <div class="statistics-table__container bg-white rounded-25px">
                        <div class="statistics-table__header flex p-10px items-end border-b-[1px] border-[#393939]/10">
                            <h4 class="text-lg mr-10px text-normal">Referral Profits</h4>
                            <p class="text-normal text-[15px] font-light">(Last 20 items)</p>
                        </div>
                        <div class="table w-full mt-10px px-10px">
                            <div class="table__header rounded-t-[10px] p-10px bg-invite-link grid grid-cols-3">
                                <h4 class="text-white text-sm">Date</h4>
                                <h4 class="text-white text-sm">Profit (TRX)</h4>
                                <h4 class="text-white text-sm">Flashout (TRX)</h4>
                            </div>
                            <div class="table__body pb-10px">
                                <div class="table__row rounded-[10px] grid grid-cols-3 p-10px">
                                    <span class="text-normal text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-invite-link text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-withdrawal-amount text-xs font-light">2022-10-02 00:00:02</span>
                                </div>
                                <div class="table__row rounded-[10px] grid grid-cols-3 p-10px">
                                    <span class="text-normal text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-invite-link text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-withdrawal-amount text-xs font-light">2022-10-02 00:00:02</span>
                                </div>
                                <div class="table__row rounded-[10px] grid grid-cols-3 p-10px">
                                    <span class="text-normal text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-invite-link text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-withdrawal-amount text-xs font-light">2022-10-02 00:00:02</span>
                                </div>
                                <div class="table__row rounded-[10px] grid grid-cols-3 p-10px">
                                    <span class="text-normal text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-invite-link text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-withdrawal-amount text-xs font-light">2022-10-02 00:00:02</span>
                                </div>
                                <div class="table__row rounded-[10px] grid grid-cols-3 p-10px">
                                    <span class="text-normal text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-invite-link text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-withdrawal-amount text-xs font-light">2022-10-02 00:00:02</span>
                                </div>
                                <div class="table__row rounded-[10px] grid grid-cols-3 p-10px">
                                    <span class="text-normal text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-invite-link text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-withdrawal-amount text-xs font-light">2022-10-02 00:00:02</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="statistics-table__container bg-white rounded-25px">
                        <div class="statistics-table__header flex p-10px items-end border-b-[1px] border-[#393939]/10">
                            <h4 class="text-lg mr-10px text-normal">Deposit Profits</h4>
                            <p class="text-normal text-[15px] font-light">(Last 20 items)</p>
                        </div>
                        <div class="table w-full mt-10px px-10px">
                            <div class="table__header rounded-t-[10px] p-10px bg-invite-link grid grid-cols-3">
                                <h4 class="text-white text-sm">Date</h4>
                                <h4 class="text-white text-sm">Profit (TRX)</h4>
                                <h4 class="text-white text-sm">Flashout (TRX)</h4>
                            </div>
                            <div class="table__body pb-10px">
                                <div class="table__row rounded-[10px] grid grid-cols-3 p-10px">
                                    <span class="text-normal text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-invite-link text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-withdrawal-amount text-xs font-light">2022-10-02 00:00:02</span>
                                </div>
                                <div class="table__row rounded-[10px] grid grid-cols-3 p-10px">
                                    <span class="text-normal text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-invite-link text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-withdrawal-amount text-xs font-light">2022-10-02 00:00:02</span>
                                </div>
                                <div class="table__row rounded-[10px] grid grid-cols-3 p-10px">
                                    <span class="text-normal text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-invite-link text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-withdrawal-amount text-xs font-light">2022-10-02 00:00:02</span>
                                </div>
                                <div class="table__row rounded-[10px] grid grid-cols-3 p-10px">
                                    <span class="text-normal text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-invite-link text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-withdrawal-amount text-xs font-light">2022-10-02 00:00:02</span>
                                </div>
                                <div class="table__row rounded-[10px] grid grid-cols-3 p-10px">
                                    <span class="text-normal text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-invite-link text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-withdrawal-amount text-xs font-light">2022-10-02 00:00:02</span>
                                </div>
                                <div class="table__row rounded-[10px] grid grid-cols-3 p-10px">
                                    <span class="text-normal text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-invite-link text-xs font-light">2022-10-02 00:00:02</span>
                                    <span class="text-withdrawal-amount text-xs font-light">2022-10-02 00:00:02</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</body>

</html>