<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--  Linking style file  -->
  <link rel="stylesheet" href="/public/styles/style.css" />
  <!-- Vue.js CDN -->
  <!-- <script src="https://unpkg.com/vue@3"></script> -->
  <!-- Linking script file -->
  <script src="/public/scripts/script.js" defer></script>
  <title>qbit | User Management</title>
</head>

<body class="bg-[#fafafe]">
  <div class="container relative">
    <nav class="navigation__container">
      <div class="logo__container">
        <img src="/public/images/Logo.svg" alt="logo-img" class="logo__img mx-auto" />
      </div>
      <ul class="navigation__inner">
        <li class="navigation__list">
          <a href="./index.html" class="navigation__link">
            <img src="/public/images/icon/menu/Dashboard.svg" alt="dashboard-img" class="navigation__img" />
            <span class="navigation__text">Dashboard</span>
          </a>
        </li>
        <li class="navigation__list">
          <a href="./TreeDiagram.html" class="navigation__link">
            <img src="/public/images/icon/menu/Jineology.svg" alt="jineology-img" class="navigation__img" />
            <span class="navigation__text">Jineology</span>
          </a>
        </li>
        <li class="navigation__list md:w-full">
          <a href="./TreeDiagram.html" class="navigation__link">
            <img src="/public/images/icon/menu/Tree_Diagram.svg" alt="tree-diagram-img" class="navigation__img" />
            <span class="navigation__text">Tree Diagram</span>
          </a>
        </li>
        <li class="navigation__list md:w-full">
          <a href="./DepositRequests.html" class="navigation__link">
            <img src="/public/images/icon/menu/Deposite_Requests.svg" alt="deposit-request-img"
              class="navigation__img" />
            <span class="navigation__text">Deposit Requests</span>
          </a>
        </li>
        <li class="navigation__list">
          <a href="./UserManagement.html" class="navigation__link active">
            <img src="/public/images/icon/menu/User_Management_Active.svg" alt="user-management-img"
              class="navigation__img" />
            <span class="navigation__text">User Management</span>
          </a>
        </li>
        <li class="navigation__list">
          <a href="#withdraw-requests" class="navigation__link">
            <img src="/public/images/icon/menu/Withdraw_Request.svg" alt="withdraw-requests-img"
              class="navigation__img" />
            <span class="navigation__text">Withdraw Requests</span>
          </a>
        </li>
        <li class="navigation__list">
          <a href="#gallery-management" class="navigation__link">
            <img src="/public/images/icon/menu/Gallery_Management.svg" alt="gallery-management-img"
              class="navigation__img" />
            <span class="navigation__text">Gallery Management</span>
          </a>
        </li>
        <li class="navigation__list">
          <a href="#admin-management" class="navigation__link">
            <img src="/public/images/icon/menu/Admin_Management.svg" alt="admin-management-img"
              class="navigation__img" />
            <span class="navigation__text">Admin Management</span>
          </a>
        </li>
        <li class="navigation__list">
          <a href="#reports" class="navigation__link">
            <img src="/public/images/icon/menu/Reports.svg" alt="reports-img" class="navigation__img" />
            <span class="navigation__text">Reports</span>
          </a>
        </li>
        <li class="navigation__list">
          <a href="#logout" class="navigation__link mt-20">
            <img src="/public/images/icon/menu/Logout.svg" alt="logout-img" class="navigation__img" />
            <span class="navigation__text">Logout</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="statistics-table__container overflow-auto lg:w-full">
      <div class="statistics-table__header py-0 items-center justify-between">
        <h4 class="statistics-table__title">User Management</h4>
        <ul class="flex gap-[15px]">
          <li>
            <button class="table__btn text-sm lg:text-lg table-btn__active"
              onclick="toggleDepositRequestsTabs('active users', this)">Active
              Users</button>
          </li>
          <li>
            <button class="table__btn text-sm lg:text-lg"
              onclick="toggleDepositRequestsTabs('pending users', this)">Pending Users</button>
          </li>
        </ul>
      </div>
      <div class="statistics-table__subheader search__subheader grid grid-cols-1 lg:grid-cols-3 gap-[10px] p-10px">
        <div class="input-group gap-1 max-w-[300px] flex flex-col">
          <label for="email" class="text-normal font-light">Email:</label>
          <input type="email" id="email" class="border border-[#393939]/10 rounded-[5px] h-8 px-2 text-xs font-light"
            placeholder="Enter Email...">
        </div>
        <div class="input-group gap-1 max-w-[300px] flex flex-col">
          <label for="walletAddress" class="text-normal font-light">Wallet Address:</label>
          <input type="text" id="walletAddress" class="border border-[#393939]/10 rounded-[5px] h-8 px-2 text-xs font-light"
            placeholder="Enter Wallet Address...">
        </div>
        <div class="input-group gap-1 max-w-[300px] flex flex-col">
          <label for="referenceCode" class="text-normal font-light">Reference Code:</label>
          <input type="text" id="referenceCode" class="border border-[#393939]/10 rounded-[5px] h-8 px-2 text-xs font-light"
            placeholder="Enter Reference Code...">
        </div>
        <div class="input-group gap-1 max-w-[300px] flex flex-col">
          <button class="search__btn bg-search-btn w-20 py-1 rounded-[3px] text-white text-xs font-light">Search</button>
        </div>
      </div>
      <div class="active-users__table overflow-auto">
        <div class="table user-management__table w-full p-5 pt-10px min-w-[1300px]">
          <div class="table__header">
            <div class="flex justify-center items-center">
              <input type="checkbox" onchange="selectAllTableRows(this)"
                class="table-header__title appearance-none w-4 h-4 bg-white rounded-[3px] checked:bg-invite-link" />
            </div>
            <div>
              <h4 class="table-header__title">User ID</h4>
            </div>
            <div>
              <h4 class="table-header__title">Name</h4>
            </div>
            <div>
              <h4 class="table-header__title">Email</h4>
            </div>
            <div>
              <h4 class="table-header__title">Code</h4>
            </div>
            <div>
              <h4 class="table-header__title">Wallet</h4>
            </div>
            <div>
              <h4 class="table-header__title">Created At</h4>
            </div>
            <div>
              <h4 class="table-header__title">Role</h4>
            </div>
            <div class="flex justify-center">
              <h4 class="table-header__title">Action</h4>
            </div>
          </div>
          <div class="table__body">
            <div class="table__row hover:bg-[#716aca]/[6%] items-center">
              <div class="flex justify-center items-center">
                <input type="checkbox"
                  class="appearance-none w-4 h-4 bg-[#ECECEC] rounded-[3px] checked:bg-invite-link" />
              </div>
              <span class="text-normal table-row__data">1925</span>
              <span class="text-normal table-row__data">Hesam</span>
              <span class="text-normal table-row__data">0945464864853@gmail.com</span>
              <span class="text-invite-link table-row__data">
                g9526Rwasd6
              </span>
              <span class="text-normal table-row__data">TP7eYwWDTSxvdBDkJnCoe6Lst7uqEogHxr</span>
              <span class="table-row__data">2022-08-02 08:15:14</span>
              <span class="table-row__data badge badge__green">Change To Admin
              </span>
              <div class="table-row__data flex justify-center gap-2">
                <button class="hover:bg-[#716ACA]/[6%] p-1 rounded-[3px]">
                  <img src="/public/images/icon/deposit_requests/Edit.svg" alt="edit-img" class="w-5" />
                </button>
              </div>
            </div>
            <div class="table__row hover:bg-[#716aca]/[6%] items-center">
              <div class="flex justify-center items-center">
                <input type="checkbox"
                  class="appearance-none w-4 h-4 bg-[#ECECEC] rounded-[3px] checked:bg-invite-link" />
              </div>
              <span class="text-normal table-row__data">1925</span>
              <span class="text-normal table-row__data">Hesam</span>
              <span class="text-normal table-row__data">0945464864853@gmail.com</span>
              <span class="text-invite-link table-row__data">
                g9526Rwasd6
              </span>
              <span class="text-normal table-row__data">TP7eYwWDTSxvdBDkJnCoe6Lst7uqEogHxr</span>
              <span class="table-row__data">2022-08-02 08:15:14</span>
              <span class="table-row__data badge badge__green">Change To Admin
              </span>
              <div class="table-row__data flex justify-center gap-2">
                <button class="hover:bg-[#716ACA]/[6%] p-1 rounded-[3px]">
                  <img src="/public/images/icon/deposit_requests/Edit.svg" alt="edit-img" class="w-5" />
                </button>
              </div>
            </div>
            <div class="table__row hover:bg-[#716aca]/[6%] items-center">
              <div class="flex justify-center items-center">
                <input type="checkbox"
                  class="appearance-none w-4 h-4 bg-[#ECECEC] rounded-[3px] checked:bg-invite-link" />
              </div>
              <span class="text-normal table-row__data">1925</span>
              <span class="text-normal table-row__data">Hesam</span>
              <span class="text-normal table-row__data">0945464864853@gmail.com</span>
              <span class="text-invite-link table-row__data">
                g9526Rwasd6
              </span>
              <span class="text-normal table-row__data">TP7eYwWDTSxvdBDkJnCoe6Lst7uqEogHxr</span>
              <span class="table-row__data">2022-08-02 08:15:14</span>
              <span class="table-row__data badge badge__green">Change To Admin
              </span>
              <div class="table-row__data flex justify-center gap-2">
                <button class="hover:bg-[#716ACA]/[6%] p-1 rounded-[3px]">
                  <img src="/public/images/icon/deposit_requests/Edit.svg" alt="edit-img" class="w-5" />
                </button>
              </div>
            </div>
            <div class="table__row hover:bg-[#716aca]/[6%] items-center">
              <div class="flex justify-center items-center">
                <input type="checkbox"
                  class="appearance-none w-4 h-4 bg-[#ECECEC] rounded-[3px] checked:bg-invite-link" />
              </div>
              <span class="text-normal table-row__data">1925</span>
              <span class="text-normal table-row__data">Hesam</span>
              <span class="text-normal table-row__data">0945464864853@gmail.com</span>
              <span class="text-invite-link table-row__data">
                g9526Rwasd6
              </span>
              <span class="text-normal table-row__data">TP7eYwWDTSxvdBDkJnCoe6Lst7uqEogHxr</span>
              <span class="table-row__data">2022-08-02 08:15:14</span>
              <span class="table-row__data badge badge__green">Change To Admin
              </span>
              <div class="table-row__data flex justify-center gap-2">
                <button class="hover:bg-[#716ACA]/[6%] p-1 rounded-[3px]">
                  <img src="/public/images/icon/deposit_requests/Edit.svg" alt="edit-img" class="w-5" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- pending users -->
      <div class="pending-users__table hidden overflow-auto">
        <div class="table user-management__table w-full p-5 pt-10px min-w-[1100px]">
          <div class="table__header">
            <div class="flex justify-center items-center">
              <input type="checkbox" onchange="selectAllTableRows(this)"
                class="table-header__title appearance-none w-4 h-4 bg-white rounded-[3px] checked:bg-invite-link" />
            </div>
            <div>
              <h4 class="table-header__title">User ID</h4>
            </div>
            <div>
              <h4 class="table-header__title">Name</h4>
            </div>
            <div>
              <h4 class="table-header__title">Email</h4>
            </div>
            <div>
              <h4 class="table-header__title">Referred from</h4>
            </div>
            <div>
              <h4 class="table-header__title">Wallet</h4>
            </div>
            <div>
              <h4 class="table-header__title">Created At</h4>
            </div>
            <div class="flex justify-center">
              <h4 class="table-header__title">Action</h4>
            </div>
          </div>
          <div class="table__body">
            <div class="table__row hover:bg-[#716aca]/[6%] items-center">
              <div class="flex justify-center items-center">
                <input type="checkbox"
                  class="appearance-none w-4 h-4 bg-[#ECECEC] rounded-[3px] checked:bg-invite-link" />
              </div>
              <span class="text-normal table-row__data">1925</span>
              <span class="text-normal table-row__data">Mohammad</span>
              <span class="text-normal table-row__data">0945464864853@gmail.com</span>
              <span class="text-invite-link table-row__data">
                g9526Rwasd6
              </span>
              <span class="text-normal table-row__data">TP7eYwWDTSxvdBDkJnCoe6Lst7uqEogHxr</span>
              <span class="table-row__data">2022-08-02 08:15:14</span>
              <div class="table-row__data flex justify-center gap-2">
                <button class="hover:bg-[#716ACA]/[6%] p-1 rounded-[3px]">
                  <img src="/public/images/icon/deposit_requests/Edit.svg" alt="edit-img" class="w-5" />
                </button>
              </div>
            </div>
            <div class="table__row hover:bg-[#716aca]/[6%] items-center">
              <div class="flex justify-center items-center">
                <input type="checkbox"
                  class="appearance-none w-4 h-4 bg-[#ECECEC] rounded-[3px] checked:bg-invite-link" />
              </div>
              <span class="text-normal table-row__data">1925</span>
              <span class="text-normal table-row__data">Mohammad</span>
              <span class="text-normal table-row__data">0945464864853@gmail.com</span>
              <span class="text-invite-link table-row__data">
                g9526Rwasd6
              </span>
              <span class="text-normal table-row__data">TP7eYwWDTSxvdBDkJnCoe6Lst7uqEogHxr</span>
              <span class="table-row__data">2022-08-02 08:15:14</span>
              <div class="table-row__data flex justify-center gap-2">
                <button class="hover:bg-[#716ACA]/[6%] p-1 rounded-[3px]">
                  <img src="/public/images/icon/deposit_requests/Edit.svg" alt="edit-img" class="w-5" />
                </button>
              </div>
            </div>
            <div class="table__row hover:bg-[#716aca]/[6%] items-center">
              <div class="flex justify-center items-center">
                <input type="checkbox"
                  class="appearance-none w-4 h-4 bg-[#ECECEC] rounded-[3px] checked:bg-invite-link" />
              </div>
              <span class="text-normal table-row__data">1925</span>
              <span class="text-normal table-row__data">Mohammad</span>
              <span class="text-normal table-row__data">0945464864853@gmail.com</span>
              <span class="text-invite-link table-row__data">
                g9526Rwasd6
              </span>
              <span class="text-normal table-row__data">TP7eYwWDTSxvdBDkJnCoe6Lst7uqEogHxr</span>
              <span class="table-row__data">2022-08-02 08:15:14</span>
              <div class="table-row__data flex justify-center gap-2">
                <button class="hover:bg-[#716ACA]/[6%] p-1 rounded-[3px]">
                  <img src="/public/images/icon/deposit_requests/Edit.svg" alt="edit-img" class="w-5" />
                </button>
              </div>
            </div>
            <div class="table__row hover:bg-[#716aca]/[6%] items-center">
              <div class="flex justify-center items-center">
                <input type="checkbox"
                  class="appearance-none w-4 h-4 bg-[#ECECEC] rounded-[3px] checked:bg-invite-link" />
              </div>
              <span class="text-normal table-row__data">1925</span>
              <span class="text-normal table-row__data">Mohammad</span>
              <span class="text-normal table-row__data">0945464864853@gmail.com</span>
              <span class="text-invite-link table-row__data">
                g9526Rwasd6
              </span>
              <span class="text-normal table-row__data">TP7eYwWDTSxvdBDkJnCoe6Lst7uqEogHxr</span>
              <span class="table-row__data">2022-08-02 08:15:14</span>
              <div class="table-row__data flex justify-center gap-2">
                <button class="hover:bg-[#716ACA]/[6%] p-1 rounded-[3px]">
                  <img src="/public/images/icon/deposit_requests/Edit.svg" alt="edit-img" class="w-5" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div
    class="pop-up pop-up__approved fixed hidden drop-shadow-md items-center gap-3 bg-white bottom-3 right-2 p-4 py-3 rounded-10px">
    <img src="/public/images/icon/pop-up/Check.png" alt="pop-up-img" class="w-7 md:w-12">
    <div class="border-r-green-400 border-r-4 pr-3">
      <h2 class="text-normal font-medium lg:text-lg">Approved</h2>
      <p class="text-[#a9a9a9] text-sm lg:text-base">your request approved successfuly</p>
    </div>
  </div>
  <div
    class="pop-up pop-up__deleted fixed hidden drop-shadow-md items-center gap-3 bg-white bottom-3 right-2 p-4 py-3 rounded-10px">
    <img src="/public/images/icon/pop-up/Check.png" alt="pop-up-img" class="w-7 md:w-12">
    <div class="border-r-red-400 border-r-4 pr-3">
      <h2 class="text-normal font-medium lg:text-lg">Delete</h2>
      <p class="text-[#a9a9a9] text-sm lg:text-base">your request deleted successfuly</p>
    </div>
  </div>

  </div>
</body>

</html>