<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--  Linking style file  -->
  <link rel="stylesheet" href="/public/styles/style.css" />
  <!-- Linking script file -->
  <script src="/public/scripts/script.js" defer></script>
  <link rel="shortcut icon" href="/public/images/Logo.svg">
  <title>BQit | Withdraw Requests</title>
</head>

<body class="bg-[#fafafe]">
  <div class="container relative">
    <nav class="navigation__container">
      <div class="logo__container">
        <img src="/public/images/Logo.svg" alt="logo-img" class="logo__img" />
      </div>
      <ul class="navigation__inner">
        <li class="navigation__list">
          <a href="./index.html" class="navigation__link">
            <img src="/public/images/icon/menu/Dashboard.svg" alt="dashboard-img" class="navigation__img" />
            <span class="navigation__text">Dashboard</span>
          </a>
        </li>
        <li class="navigation__list">
          <a href="#joineology" class="navigation__link">
            <img src="/public/images/icon/menu/Jineology.svg" alt="jineology-img" class="navigation__img" />
            <span class="navigation__text">Jineology</span>
          </a>
        </li>
        <li class="navigation__list md:w-full">
          <a href="./TreeDiagram.html" class="navigation__link">
            <img src="/public/images/icon/menu/Tree_Diagram.svg" alt="tree-diagram-img" class="navigation__img" />
            <span class="navigation__text">Tree Diagram</span>
          </a>
        </li>
        <li class="navigation__list md:w-full">
          <a href="./DepositRequests.html" class="navigation__link">
            <img src="/public/images/icon/menu/Deposite_Requests.svg" alt="deposit-request-img"
              class="navigation__img" />
            <span class="navigation__text">Deposit Requests</span>
          </a>
        </li>
        <li class="navigation__list">
          <a href="./UserManagement.html" class="navigation__link">
            <img src="/public/images/icon/menu/User_Management.svg" alt="user-management-img" class="navigation__img" />
            <span class="navigation__text">User Management</span>
          </a>
        </li>
        <li class="navigation__list">
          <a href="./WithdrawRequests.html" class="navigation__link active">
            <img src="/public/images/icon/menu/Withdraw_Request_Active.svg" alt="withdraw-requests-img"
              class="navigation__img" />
            <span class="navigation__text">Withdraw Requests</span>
          </a>
        </li>
        <li class="navigation__list">
          <a href="./GalleryManagements.html" class="navigation__link">
            <img src="/public/images/icon/menu/Gallery_Management.svg" alt="gallery-management-img"
              class="navigation__img" />
            <span class="navigation__text">Gallery Management</span>
          </a>
        </li>
        <li class="navigation__list">
          <a href="./AdminManagement.html" class="navigation__link">
            <img src="/public/images/icon/menu/Admin_Management.svg" alt="admin-management-img"
              class="navigation__img" />
            <span class="navigation__text">Admin Management</span>
          </a>
        </li>
        <li class="navigation__list">
          <a href="./Reports.html" class="navigation__link">
            <img src="/public/images/icon/menu/Reports.svg" alt="reports-img" class="navigation__img" />
            <span class="navigation__text">Reports</span>
          </a>
        </li>
        <li class="navigation__list">
          <a href="#logout" class="navigation__link mt-20">
            <img src="/public/images/icon/menu/Logout.svg" alt="logout-img" class="navigation__img" />
            <span class="navigation__text">Logout</span>
          </a>
        </li>
      </ul>
    </nav>
    <section class="withdraw-requests w-full overflow-x-auto flex flex-col gap-5">
      <div class="withdraw-requests__header">
        <button class="btn__settings">
          <img src="/public/images/icon/dashboard/Settings.svg" alt="settings-img" class="w-5" />
        </button>
        <div class="profile__badge">
          <img src="/public/images/Profile.svg" alt="profile-img" class="user__img" />
          <div class="profile-badge__text ml-2">
            <p class="user__name text-normal">Hesam Safari</p>
            <span class="user__role">Admin</span>
          </div>
          <a href="#arrow" class="arrow__btn">
            <img src="/public/images/icon/dashboard/Arrow_Down.svg" alt="arrow-img" class="w-5 mb-auto" />
          </a>
        </div>
      </div>
      <div class="statistics-table__container overflow-auto lg:w-full">
        <div class="statistics-table__header items-center justify-between">
          <h4 class="statistics-table__title">Withdraw Request</h4>
          <button onclick="switchBetween2Element('withdraw requests')"
            class="new-request__btn bg-invite-link px-3 py-2 gap-[5px] flex items-center text-white text-xs font-light rounded-md">
            <img src="/public/images/icon/withdraw_requests/Plus.svg" alt="plus-img" />
            New Request
          </button>
        </div>
        <div
          class="statistics-table__subheader search__subheader border-b-[#393939]/10 border-b-[1px] grid grid-cols-1 lg:grid-cols-3 gap-[10px] p-10px">
          <div class="input-group gap-1 max-w-[300px] flex flex-col">
            <label for="email" class="text-normal font-light">Email:</label>
            <input type="email" id="email" class="border border-[#393939]/10 rounded-[5px] h-8 px-2 text-xs font-light"
              placeholder="Enter Email..." />
          </div>
          <div class="input-group gap-1 max-w-[300px] flex flex-col">
            <label for="walletAddress" class="text-normal font-light">Wallet Address:</label>
            <input type="text" id="walletAddress"
              class="border border-[#393939]/10 rounded-[5px] h-8 px-2 text-xs font-light"
              placeholder="Enter Wallet Address..." />
          </div>
          <div class="input-group gap-1 max-w-[300px] flex flex-col">
            <label for="referenceCode" class="text-normal font-light">Reference Code:</label>
            <input type="text" id="referenceCode"
              class="border border-[#393939]/10 rounded-[5px] h-8 px-2 text-xs font-light"
              placeholder="Enter Reference Code..." />
          </div>
          <div class="input-group gap-1 max-w-[300px] flex flex-col">
            <button class="search__btn bg-search-btn w-20 py-1 rounded-[3px] text-white text-xs font-light">
              Search
            </button>
          </div>
        </div>
        <div class="statistics-table__subheader group-actions__subheader flex flex-col gap-[10px] p-10px">
          <h4 class="text-[15px] text-normal font-light">Group Actions</h4>
          <div class="pl-5 flex gap-2">
            <button onclick="togglePopup('approve')"
              class="btn__green flex items-center gap-1 bg-profit-amount px-4 py-2 rounded-10px text-white text-xs font-light">
              <img src="/public/images/icon/deposit_requests/Check.svg" alt="check-img" />
              Paid
            </button>
            <button onclick="togglePopup('deleted')"
              class="btn__red flex items-center gap-1 bg-withdrawal-amount px-4 py-2 rounded-10px text-white text-xs font-light">
              <img src="/public/images/icon/withdraw_requests/Close.svg" alt="delete-img" />
              Reject
            </button>
          </div>
        </div>
        <div class="withdraw-requests__table">
          <div class="table w-full p-5 pt-10px min-w-[1100px]">
            <div class="table__header">
              <div class="flex justify-center items-center">
                <input type="checkbox" onchange="selectAllTableRows(this)"
                  class="table-header__title appearance-none w-4 h-4 bg-white rounded-[3px] checked:bg-invite-link" />
              </div>
              <div>
                <h4 class="table-header__title">Request ID</h4>
              </div>
              <div>
                <h4 class="table-header__title">User</h4>
              </div>
              <div>
                <h4 class="table-header__title">Wallet Address</h4>
              </div>
              <div>
                <h4 class="table-header__title">Amount</h4>
              </div>
              <div>
                <h4 class="table-header__title">Status</h4>
              </div>
              <div>
                <h4 class="table-header__title">Date</h4>
              </div>
              <div class="flex justify-center">
                <h4 class="table-header__title">Action</h4>
              </div>
            </div>
            <div class="table__body">
              <div class="table__row hover:bg-[#716aca]/[6%] items-center">
                <div class="flex justify-center items-center">
                  <input type="checkbox"
                    class="appearance-none w-4 h-4 bg-[#ECECEC] rounded-[3px] checked:bg-invite-link" />
                </div>
                <span class="text-normal table-row__data">1925</span>
                <span class="text-normal table-row__data">Hesam</span>
                <span class="text-normal table-row__data">TP7eYwWDTSxvdBDkJnCoe6Lst7uqEogHxr</span>
                <span class="text-invite-link table-row__data">5000 TRX</span>
                <span class="text-white table-row__data badge badge__yellow">PENDING</span>
                <span class="text-normal table-row__data">2022-08-20 08:15:26</span>
                <div class="table-row__data flex justify-center gap-2">
                  <button class="bg-search-btn text-white flex items-center gap-[5px] p-1 px-2 rounded-[3px]">
                    <img src="/public/images/icon/deposit_requests/Check.svg" alt="check-img" class="w-5" />
                    Paid
                  </button>
                  <button class="bg-withdrawal-amount text-white flex items-center gap-[5px] p-1 px-2 rounded-[3px]">
                    <img src="/public/images/icon/withdraw_requests/Close.svg" alt="close-img" class="w-5" />
                    Reject
                  </button>
                </div>
              </div>
              <div class="table__row hover:bg-[#716aca]/[6%] items-center">
                <div class="flex justify-center items-center">
                  <input type="checkbox"
                    class="appearance-none w-4 h-4 bg-[#ECECEC] rounded-[3px] checked:bg-invite-link" />
                </div>
                <span class="text-normal table-row__data">1925</span>
                <span class="text-normal table-row__data">Hesam</span>
                <span class="text-normal table-row__data">TP7eYwWDTSxvdBDkJnCoe6Lst7uqEogHxr</span>
                <span class="text-invite-link table-row__data">5000 TRX</span>
                <span class="text-white table-row__data badge badge__yellow">PENDING</span>
                <span class="text-normal table-row__data">2022-08-20 08:15:26</span>
                <div class="table-row__data flex justify-center gap-2">
                  <button class="bg-search-btn text-white flex items-center gap-[5px] p-1 px-2 rounded-[3px]">
                    <img src="/public/images/icon/deposit_requests/Check.svg" alt="check-img" class="w-5" />
                    Paid
                  </button>
                  <button class="bg-withdrawal-amount text-white flex items-center gap-[5px] p-1 px-2 rounded-[3px]">
                    <img src="/public/images/icon/withdraw_requests/Close.svg" alt="close-img" class="w-5" />
                    Reject
                  </button>
                </div>
              </div>
              <div class="table__row hover:bg-[#716aca]/[6%] items-center">
                <div class="flex justify-center items-center">
                  <input type="checkbox"
                    class="appearance-none w-4 h-4 bg-[#ECECEC] rounded-[3px] checked:bg-invite-link" />
                </div>
                <span class="text-normal table-row__data">1925</span>
                <span class="text-normal table-row__data">Hesam</span>
                <span class="text-normal table-row__data">TP7eYwWDTSxvdBDkJnCoe6Lst7uqEogHxr</span>
                <span class="text-invite-link table-row__data">5000 TRX</span>
                <span class="text-white table-row__data badge badge__yellow">PENDING</span>
                <span class="text-normal table-row__data">2022-08-20 08:15:26</span>
                <div class="table-row__data flex justify-center gap-2">
                  <button class="bg-search-btn text-white flex items-center gap-[5px] p-1 px-2 rounded-[3px]">
                    <img src="/public/images/icon/deposit_requests/Check.svg" alt="check-img" class="w-5" />
                    Paid
                  </button>
                  <button class="bg-withdrawal-amount text-white flex items-center gap-[5px] p-1 px-2 rounded-[3px]">
                    <img src="/public/images/icon/withdraw_requests/Close.svg" alt="close-img" class="w-5" />
                    Reject
                  </button>
                </div>
              </div>
              <div class="table__row hover:bg-[#716aca]/[6%] items-center">
                <div class="flex justify-center items-center">
                  <input type="checkbox"
                    class="appearance-none w-4 h-4 bg-[#ECECEC] rounded-[3px] checked:bg-invite-link" />
                </div>
                <span class="text-normal table-row__data">1925</span>
                <span class="text-normal table-row__data">Hesam</span>
                <span class="text-normal table-row__data">TP7eYwWDTSxvdBDkJnCoe6Lst7uqEogHxr</span>
                <span class="text-invite-link table-row__data">5000 TRX</span>
                <span class="text-white table-row__data badge badge__yellow">PENDING</span>
                <span class="text-normal table-row__data">2022-08-20 08:15:26</span>
                <div class="table-row__data flex justify-center gap-2">
                  <button class="bg-search-btn text-white flex items-center gap-[5px] p-1 px-2 rounded-[3px]">
                    <img src="/public/images/icon/deposit_requests/Check.svg" alt="check-img" class="w-5" />
                    Paid
                  </button>
                  <button class="bg-withdrawal-amount text-white flex items-center gap-[5px] p-1 px-2 rounded-[3px]">
                    <img src="/public/images/icon/withdraw_requests/Close.svg" alt="close-img" class="w-5" />
                    Reject
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="new-withdraw-request hidden card card__hover w-full">
        <div class="statistics-table__header items-center justify-between">
          <h4 class="statistics-table__title">Withdraw Request</h4>
        </div>
        <div class="flex w-full flex-col md:flex-row">
          <div class="new-withdraw-request__left-side p-10px lg:p-5 w-full flex flex-col gap-[10px] lg:gap-5">
            <div
              class="acc-information__badge badge__warning badge__dark bg-badge__warning flex gap-[10px] items-center rounded-10px p-10px text-white">
              <img src="/public/images/icon/withdraw_requests/Warning.svg" alt="warning-icon"
                class="badge__warning__icon" />
              <div class="acc-information__title">
                <h4 class="lg:text-lg mb-2">Attention</h4>
                <p class="text-xs font-light">Your withdrawal request will be sent to wallet address.</p>
              </div>
            </div>

            <div class="new-withdraw-request__form ">
              <form class="sm:max-w-[300px]">
                <div class="input-group flex flex-col gap-[5px]">
                  <label for="withdraw-amount" class="withdraw-amount__label text-sm font-light">Withdraw
                    Amount:</label>
                  <input type="number" name="withdraw-amount" id="withdraw-amount" placeholder="Enter withdraw amount"
                    class="withdraw-amount__input border border-normal/10 rounded-[5px] h-9 text-sm px-2" />
                </div>
                <button
                  class="withdraw-amount__btn bg-badge__green flex items-center p-2 px-3 mt-2 rounded-[5px] text-white gap-[5px] ml-auto text-xs font-light">
                  <img src="/public/images/icon/deposit_requests/Check.svg" alt="check-icon" />
                  Send Request
                </button>
              </form>
            </div>
          </div>
          <div
            class="new-withdraw-request__right-side lg:p-5 lg:gap-5 w-full border-b-[#393939]/10 border-t-[1px] lg:border-l-[1px] lg:border-t-0 p-10px flex flex-col gap-[10px]">
            <div
              class="acc-information__badge badge__dark bg-badge__dark flex items-center justify-between rounded-10px p-10px text-white">
              <div class="acc-information__title">
                <h4 class="lg:text-lg mb-2">Your Wallet</h4>
                <p class="text-xs font-light">Total wallet amount</p>
              </div>
              <span class="acc-information__amount lg:text-lg">16247 TRX</span>
            </div>
            <div
              class="acc-information__badge badge__dark bg-badge__green flex items-center justify-between rounded-10px p-10px text-white">
              <div class="acc-information__title">
                <h4 class="lg:text-lg mb-2">Withdrawal</h4>
                <p class="text-xs font-light">
                  Amount allowable withdrawal this week
                </p>
              </div>
              <span class="acc-information__amount lg:text-lg">16247 TRX</span>
            </div>
            <div
              class="acc-information__badge badge__dark bg-badge__purple flex items-center justify-between rounded-10px p-10px text-white">
              <div class="acc-information__title">
                <h4 class="lg:text-lg mb-2">Weekly Withdrawals</h4>
                <p class="text-xs font-light">Total withdrawals this week</p>
              </div>
              <span class="acc-information__amount lg:text-lg">16247 TRX</span>
            </div>
            <div
              class="acc-information__badge badge__dark bg-badge__red flex items-center justify-between rounded-10px p-10px text-white">
              <div class="acc-information__title">
                <h4 class="lg:text-lg mb-2">Limit</h4>
                <p class="text-xs font-light">Your weekly withdrawal limit</p>
              </div>
              <span class="acc-information__amount lg:text-lg">16247 TRX</span>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
  <div
    class="pop-up pop-up__approved fixed hidden drop-shadow-md items-center gap-3 bg-white bottom-3 right-2 p-4 py-3 rounded-10px">
    <img src="/public/images/icon/pop-up/Check.png" alt="pop-up-img" class="w-7 md:w-12" />
    <div class="border-r-green-400 border-r-4 pr-3">
      <h2 class="text-normal font-medium lg:text-lg">Paid</h2>
      <p class="text-[#a9a9a9] text-sm lg:text-base">
        your request paid successfuly
      </p>
    </div>
  </div>
  <div
    class="pop-up pop-up__deleted fixed hidden drop-shadow-md items-center gap-3 bg-white bottom-3 right-2 p-4 py-3 rounded-10px">
    <img src="/public/images/icon/pop-up/Check.png" alt="pop-up-img" class="w-7 md:w-12" />
    <div class="border-r-red-400 border-r-4 pr-3">
      <h2 class="text-normal font-medium lg:text-lg">Reject</h2>
      <p class="text-[#a9a9a9] text-sm lg:text-base">
        your request rejected successfuly
      </p>
    </div>
  </div>
</body>

</html>